.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s alternate-reverse;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-link{
  font-size: 13px;
  text-transform: uppercase;
}
.no-border{
  border: none;
}
.no-border:focus{
  outline: none;
}
.row{
  margin-left: 30px!important;
  margin-right: 0px!important;
}
hr{
  background-color: black;
  height: 1px ;
  margin-bottom: 3rem;
}
select.form-control{
  border-top:none!important;
  border-left:none;
  border-right:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  height: 46px;
  text-align: left;
}
.filter{
  overflow: hidden;
  background: url(./images/arrow.svg) no-repeat right white;
  padding-left: 0px;
  font-size: 18px;
  border-radius: 0px;
}
.col-sm-2{
  bottom: 5px;
  flex: 1;
  max-width: 25%;
}
.thumbnail{
  position: relative;
  width: 300px;
  height: 346px;
  background: white;
}
img.items{
  width: 300px;
  height: 257px;
  object-fit: cover;
  position: absolute;
}
.caption{
  position: absolute;
  width: 191px;
  height: 126px;
  top: 220px;
  background: white;
}
.buy{
  left: 245px;
  top: 257px;
  position: absolute;
}
.bot-item{
  position: absolute;
  background: white;
  top: 220px;
}
.list-group{
  width: 300px;
  height: 342px;
}
.text-left{
  position: absolute;
}